@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=MonteCarlo:regular);

:root {
  --bg: #5e503f;
  --bg-variant: #a9927d;
}
html,
body {
  height: 100%;
}
* {
  font-family: "Montserrat", sans-serif;
}
.container {
  width: 100% !important;
  padding: 0.5rem 4rem;
  display: inline-block;
  margin: 0 auto;
  transition: width 0.1s;
}

@media (min-width: 640px) {
  .container {
    width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    width: 1510px;
  }
}

.page-title {
  font-size: 4rem;
  margin-top: -1rem !important;
  font-weight: bold;
  opacity: 0.5;
  margin: 0;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mt-1 {
  margin-top: 1rem;
}
.cart-table .ant-pagination {
  display: none;
}
.mt-2 {
  margin-top: 1.5rem;
}
.mb-2 {
  margin-bottom: 1.5rem;
}
